.cols {
  padding-left: 0.5em;
  padding-right: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
	padding: 0em;
  clear: both;
	transform: translateZ(0px);
	-webkit-transform: translateZ(0px);
   -moz-transform: translateZ(0px);
   -ms-transform: translateZ(0px);
   -o-transform: translateZ(0px);
}
#grid{
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  //display: none;
  z-index: 1000000000000000;
  //background-color: black;
  //font-size: 2em;
}
#grid .cols {
  height: 20vh;
}
#grid .cols div {
  //border: 1px solid cyan;
  height: 100%;
}
hr {
	margin: 0em 0em;
	border: none;
	border-bottom: 1px solid cyan;
  display: none;
}
.border {
	border-top: 1px #fff solid;
}
.border-bot {
	border-bottom: 1px #fff solid;
}
.cols:after {
  clear: both;
  content: "";
  display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.kol-1, .kol-2, .kol-3, .kol-4, .kol-5, .kol-6, .kol-7, .kol-8, .kol-9, .kol-10, .kol-11, .kol-12,
.kol8-1, .kol8-2, .kol8-3, .kol8-4, .kol8-5, .kol8-6, .kol8-7, .kol8-8, .textwidget, .col-t-1, .col-t-6
{
	box-sizing: border-box;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
	padding: 0em;
	position: relative;
  min-height: 1px;

  /*removeafter*/
  /*border: 1px solid rgba(0, 0, 0, 1);*/

}
.col-t-1{
  /*width: 3.333%;*/
  width: 8.333vw;
  border-left: 0.5px solid rgba(0, 0, 0, 1);
  height:4rem;
}
.col-t-6{
  /*width: 3.333%;*/
  width: 50vw;
  /*border-left: 0.5px solid rgba(0, 0, 0, 1);*/
  height:4rem;
}

.col-1, .kol-1 {
  width: 8.333%;
  /*border: 1px solid rgba(0, 0, 0, 1);*/
  /*border-left: 0.5px solid rgba(0, 0, 0, 1);*/
  /*border-right: 0.5px solid rgba(0, 0, 0, 1);*/

}
.col-2, .kol-2 {
  width: 16.666%;
}
.col-3, .kol-3 {
  width: 25%;
}
.col-4, .kol-4 {
  width: 33.333%;
}
.col-5, .kol-5 {
  width: 41.666%;
}
.col-6, .kol-6 {
  width: 50%;
}
.col-7, .kol-7 {
  width: 58.333%;
}
.col-8, .kol-8 {
  width: 66.666%;
}
.col-9, .kol-9 {
  width: 75%;
}
.col-10, .kol-10 {
  width: 83.333%;
}
.col-11, .kol-11 {
  width: 91.666%;
}
.col-12, .kol12 {
  width: 100%;
}
.kol8-1 {
	  width: 12.5%;
}
.kol8-2 {
	  width: 25%;
}
.kol8-3 {
	  width: 37.5%;
}
.kol8-4 {
	  width: 50%;
}
.kol8-5 {
	  width: 62.5%;
}
.kol8-6 {
	  width: 75%;
}
.kol8-7 {
	  width: 87.5%;
}
.kol8-8 {
	  width: 100%;
}
.contains {
	  padding-left: 0px;
		padding-right: 0px;
}
.contains-full {
	padding: 0px;
}
.text, .textwidget {
  padding: 0.65em 0.85em;
}
.image {
  padding-left: 1em;
}
.vimeo {
	padding-left: 1em;
}
.begin-right {
  float: right;
}

/*added here*/
.full {
	height: 56.25vw;
}
.med {
	height: 75vh;
}
.half {
	height: 28.125vw;
}
.third {
	height: 18.5vw;
}
.quart {
	height: 25vh;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	  width: 100%;
	}
  .force-half {
    width: 50%;
  }
  .image {
    padding: 0em 0em;
  }
  .vimeo {
  	padding-left: 0em;
  }
  hr {
  	margin: 0em;
    display: none;
  }

  .border-pale {
  	border-top: 1px #444 solid;
  }
}
